# **Level-up my learning**

# **1. Setup python env variables in zsh** 

**step1:Find python**\
Find the location where python is installed.
In my case it is installed in:
>/opt/homebrew/bin/python3

**step2:Add python in file**\
Now add this path in the `'/etc/paths'` file.
Open 'paths' file using:
>sudo nano /etc/paths
Provide your password and add the above line in the file the save using `ctrl+X` then press `Y` and press Enter to save file. Now you can simply type python3 to run python.

# **2. Adding python3 alias to python**

**step1:add `alias python='python3'`**\
To add python alias find the `.zshrc` hidden file in `/Users/arsalanamin`.Using:
>sudo nano /users/arsalanamin/.zshrc

Provide your password and add `alias python='python3'` in the file the save using `ctrl+X` then press `Y` and press Enter to save file.

# **3. Regular expressions**

## **Meta Characters**

|character|Desc|
|--|--|
|[]| A set of characters|
|\ |Signals a special sequence (can also be used to escape special characters)|
|.|Any character (except newline character)|
|^| When at the start of a regular expression means the `start of a string or line`. When it inside a character set means `negation`.
|$|Ends with|
|*| 0 or more occurrences|
|+| 1 or more occurrences|
|? | 0 or 1 occurences|
|{}|Exactly the specified number of occurrences|
| \| | Either or |
|() |Capture and group|

## **Special Sequences**

|character|Desc|
|--|--|
|\A|Returns a match if the specified characters are at the beginning of the string|
|\d|Returns a match where the string contains digits (numbers from 0-9)|
|\D|Returns a match where the string DOES NOT contain digits|
|\b|Returns a match where the specified characters are at the beginning or at the end of a word r‚Äù ain\b.‚Äù|
|\B|Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word. (the "r" in the beginning is making sure that the string is being treated as a "raw string")|
|\s|Returns a match where the string contains a white space character|
|\S|Returns a match where the string DOES NOT contain a white space character|
|\w|Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)|
|\W|Returns a match where the string DOES NOT contain any word characters|
|\Z|Returns a match if the specified characters are at the end of the string|


## **Sets**
|Set| Description|
|--|--|
|[arn]|Returns a match where one of the specified characters (a, r, or n) is present|
|[a-n]|Returns a match for any lower case character, alphabetically between a and n|
|[^arn]| Returns a match for any character EXCEPT a, r, and n|
|[0-9]|Returns a match for any digit between 0 and 9|
|[0,1,2,3]|Returns a match where any of the specified digits (0, 1, 2, or 3) are present|

e.g:
```python
- findall,
- search, 
- split, 
- sub, 
- finditer, 
- sub
```

#### **Example**

In [1]:
import re

s = "abc123def456ghi789"
# Find all occurrences of the pattern \d+
re.findall(r'\d+', s)

['123', '456', '789']

In [2]:
tweet = 'Im goin to write a #hastag element'

# substract '#' from the tweet
re.sub(r'#','', tweet)

'Im goin to write a hastag element'

In [3]:
import re
# removes more 2 or more occurences of '-', replace ' ' and '.' with '-'
s = "Hints-----Notion--AI Assistant 3.0"
s = re.sub(r'-{2,}', '-', s)
s = re.sub(r'[\s.]', '-', s)
print(s)

Hints-Notion-AI-Assistant-3-0

In [20]:
# remove digits
re.sub(r'\d', '','825\xa0comments')

'\xa0comments'

In [19]:
# remove non-digits
re.sub(r'\D', '','825\xa0comments')

'825'

In [6]:
# remove words
re.sub(r'\w', '','825\xa0comments')

'\xa0'

In [7]:
# remove non-words
re.sub(r'\W', '','825\xa0comments')

'825comments'

In [12]:
# remove non-words
re.sub(r'[^\w]', '','825?comments')

'825comments'

In [18]:
# remove words
re.sub(r'\w', '','825?comments')

'?'

#### **More examples**

In [18]:
txt = "#bistiProof FollowFriday @France @Fastly @Fasting @Lasting @Roasting @PKuchly57 @Milipol_Paris for\
 being top rope rain roun engaged raged vacinity members in my community in nearity :( and :() this week :)' \
 https://www.youtube.com/watch?v=g8u0wLvvPSs fax number 20712-1234 itit itit\
 +92-234234234 +92-1231415  +92-12311515 +92-12837817"
 
re.findall(r'.ty',txt)

['ity', 'ity', 'ity']

In [19]:
# any chracter followed by 'ty'
re.findall(r'.ty',txt)

['ity', 'ity', 'ity']

In [20]:
# 'i' then no/zero or any number of occurences of 't'
re.findall(r'it*',txt)

['i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'i',
 'it',
 'i',
 'it',
 'i',
 'it',
 'i',
 'it',
 'it',
 'it',
 'it']

In [21]:
# 'i' then at least 1 or more occurences of t 
re.findall(r'it+',txt)

['it', 'it', 'it', 'it', 'it', 'it', 'it']

In [22]:
# gives 'm' with zero or more occurences of m and 'ged' match
re.findall(r'mm*|ged',txt)

['ged', 'ged', 'm', 'm', 'm', 'mm', 'm', 'm']

In [23]:
# starts with 'com'
re.findall(r'\bcom',txt)

['com', 'com']

In [24]:
# ends with 'ty'
re.findall(r'ty\b',txt)

['ty', 'ty', 'ty']

In [25]:
# Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)
re.findall(r'\wop',txt)

['top', 'rop']

In [26]:
# Returns a match where the string contains any word characters 
# (characters from a to Z, digits from 0-9, and the underscore _ character)
re.findall(r'F\w',txt)

['Fo', 'Fr', 'Fr', 'Fa', 'Fa']

In [27]:
re.findall(r'f\s*',txt)

['f ', 'f', 'f']

In [28]:
# any word character before 'ged'

re.findall(r'\w.ged',txt)

['gaged', 'raged']

In [29]:
# zero or more occurence of anything(.) after 'num'
re.findall(r'num.*',txt)

['number 20712-1234 itit itit +92-234234234 +92-1231415  +92-12311515 +92-12837817']

In [30]:
# remove hyperlinks
# https?://   # match 'http' or 'https' followed by '://'
# .*          # match any number of characters
# [\r\n]*     # match a newline character (carriage return or line feed)
tweet = 'joim me while I feed the troops. :) https://t.co/ZlcsRuUpPY in the mess'
re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

'joim me while I feed the troops. :) '

In [31]:
# remove old style retweet text "RT"
tweet = 'RT joim me while I feed the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'
re.sub(r'^RT[\s]+', '', tweet)

'joim me while I feed the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'

In [32]:
# remove stock market tickers like $GE
# backslash is required for some symbols to be in raw string
tweet = 'RT joim me while I feed  $GE the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'
re.sub(r'\$\w*', '', tweet)

'RT joim me while I feed   the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'

# **3. One Hot Encoding**

In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [34]:
dic1= {'col1':[1,2,3,4,4], 'col2':['a','a','b','c','d']}
df = pd.DataFrame(dic1)
df

   col1 col2
0     1    a
1     2    a
2     3    b
3     4    c
4     4    d

In [35]:
categorical = df['col2'].to_frame()
categorical

  col2
0    a
1    a
2    b
3    c
4    d

In [36]:
enc = OneHotEncoder()
X_ohe = enc.fit_transform(categorical)
X_ohe.toarray()

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [37]:
categorical.columns

Index(['col2'], dtype='object')

In [38]:
enc.get_feature_names_out(categorical.columns)

array(['col2_a', 'col2_b', 'col2_c', 'col2_d'], dtype=object)

In [39]:
pd.DataFrame(X_ohe.toarray(), columns=enc.get_feature_names_out(categorical.columns))

   col2_a  col2_b  col2_c  col2_d
0     1.0     0.0     0.0     0.0
1     1.0     0.0     0.0     0.0
2     0.0     1.0     0.0     0.0
3     0.0     0.0     1.0     0.0
4     0.0     0.0     0.0     1.0

# **4. Using functools reduce()**
python code to demonstrate working of `reduce()`

In [40]:
import functools

lis = [1, 3, 5, 6, 2]

def convert(var1, var2):
    return var1+var2

# the function here takes 2 arguments
print(f"The sum of the list elements is :{functools.reduce(convert, lis)}")
# OR
print(f"The sum of the list elements is :{functools.reduce(lambda a,b:a+b, lis)}")

The sum of the list elements is :17
The sum of the list elements is :17

In [41]:
import pandas as pd

# concat one dataframe to other and get a single big dataframe at end
df1 = pd.DataFrame({'a':[1], 'b':[112]})
df2 = pd.DataFrame({'a':[2], 'b':[2312]})
df3 = pd.DataFrame({'a':[12], 'b':[22]})

all_data = [df1,df2,df3]

functools.reduce(lambda a,b:pd.concat([a,b],axis=0), all_data)

    a     b
0   1   112
0   2  2312
0  12    22

# **5. Using filter() function**

In [42]:
import re

mylist = [1,2,3,20,30,40]

newlist = list(filter(lambda x: x if x>10 else None, mylist)) # Read Note below
print(newlist)

[20, 30, 40]

# **6. One liner statements**

In [43]:
# one liner for if statement
h=1 if 1>2 else 0

# one liner for function
t = lambda x : x**2
t(2)

# one liner for loop
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# **7. using apply() function**

In [1]:
import pandas as pd
df = pd.DataFrame({'date': pd.date_range('2023-01-01', '2023-12-31', freq='D')})
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df.head(3)

        date  month  day
0 2023-01-01      1    1
1 2023-01-02      1    2
2 2023-01-03      1    3

In [45]:
df['is_fathers_day'] = df.apply(lambda row: 1 if row['month']==6 and row['day']==18 else 0,axis=1)
df.head(3)

        date  month  day  is_fathers_day
0 2023-01-01      1    1               0
1 2023-01-02      1    2               0
2 2023-01-03      1    3               0

# **Using np.where()**

In [46]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'date': pd.date_range('2023-01-01', '2023-12-31', freq='D')})
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df.head(3)

        date  month  day
0 2023-01-01      1    1
1 2023-01-02      1    2
2 2023-01-03      1    3

In [47]:
mask = (df['month']==6) & (df['day']==18 )
df['is_fathers_day'] = np.where(mask, 1, 0)
df.head(3)

        date  month  day  is_fathers_day
0 2023-01-01      1    1               0
1 2023-01-02      1    2               0
2 2023-01-03      1    3               0

## **Using .map() function**

In [48]:
import pandas as pd 

def sqr(x):
    return x**2

# map() takes a function that has only one input argument
# convert each int to str
l1 = list(map(str, [1,2,3,4,5]))

# square each element in the list
l2 = list(map(sqr, [1,2,3,4,5]))

print(l1)
print(l2)

['1', '2', '3', '4', '5']
[1, 4, 9, 16, 25]

# **Using args(\*) and kwargs(\*\*):**

In [49]:
first_it = [1, 2, 3]
second_it = [4, 5, 6, 7]

{*first_it, *second_it}

{1, 2, 3, 4, 5, 6, 7}

In [50]:
x = {'a':1, 'b':2}
y = {'b':3, 'c':4}

out = {**x,**y}
print(out)

{'a': 1, 'b': 3, 'c': 4}

# **Itertools.chain**

In [51]:
import itertools

list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = itertools.chain(list1, list2)
for num in combined:
    print(num)

1
2
3
4
5
6

# **itertools.combinations**

In [52]:
import itertools

letters = ['a', 'b', 'c', 'd']
combos = itertools.combinations(letters, 2)
for combo in combos:
    print(combo)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')

# **itertools.cycle**

In [53]:
import itertools

colors = ['red', 'green', 'blue']
cycle = itertools.cycle(colors)
for i in range(5):
    print(next(cycle))

red
green
blue
red
green

# **itertools.product**

In [54]:
import itertools

numbers = [1, 2]
letters = ['a', 'b']
product = itertools.product(numbers, letters)
for combo in product:
    print(combo)

(1, 'a')
(1, 'b')
(2, 'a')
(2, 'b')

# **itertools.islice**

In [55]:
import itertools

numbers = [1, 2, 3, 4, 5]
sliced = itertools.islice(numbers, 2, 4)
for num in sliced:
    print(num)

3
4

# **itertools.groupby**

In [56]:
from itertools import groupby

# define a list of items to group
items = ['a', 'a', 'b','c', 'd','d','d']

# use groupby to group the same consecutive items
# define a key function that returns the value to group by
groups = groupby(items, lambda x: x)

# iterate over the groups and print them
for key, group in groups:
    # key: what same values exist in the group
    # group: list of the values in that group
    print(key, list(group))

a ['a', 'a']
b ['b']
c ['c']
d ['d', 'd', 'd']

In [57]:
# define a list of items to group
items = [('a',1), ('a',2), ('b',3),('c',3), ('d',4),('d',4),('d',6)]

# groupby list items on the basis of consecutive first element of each list item
groups = groupby(items, lambda x: x[0])

# iterate over the groups and print them
for key, group in groups:
    # key: what same values exist in the group
    # group: list of the values in that group
    print(key, list(group))

a [('a', 1), ('a', 2)]
b [('b', 3)]
c [('c', 3)]
d [('d', 4), ('d', 4), ('d', 6)]

# **collections.Counter**

collections.Counter is a built-in class in the Python standard library that is used to count the frequency of elements in an iterable.

Here's an example to illustrate how collections.Counter works:

In [58]:
from collections import Counter

my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
counter = Counter(my_list)
print(counter)

Counter({4: 4, 3: 3, 2: 2, 1: 1})

In [59]:
text = "the quick brown fox jumps over the lazy dog"
words = text.split()
word_counter = Counter(words)
print(word_counter)

Counter({'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1})

# **collections.namedtuple**
**namedtuple**: This is a function that creates a subclass of a tuple that has named fields. This allows you to access fields by name instead of position. Here is an example:

In [60]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])
p = Point(1, 2)
print(p.x)  # Output: 1
print(p.y)  # Output: 2

1
2

# **tqdm.tqdm**

In [66]:
import numpy as np
from tqdm import tqdm
from time import sleep

# Create a list to loop over
my_list = np.arange(0,20)

# Wrap the list with tqdm to add a progress bar
for item in tqdm(my_list):
    # Do some work here

    sleep(0.1)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 20/20 [00:02<00:00,  9.58it/s]

# **Python Decorator**
In this example, `my_decorator` is a decorator function that takes in another function `func` as its argument. The `wrapper` function is defined inside the decorator function and it is returned by the decorator.

The wrapper function adds some functionality before and after the function func is called. In this case, it prints a message before and after calling func.

The decorator is applied to the `my_function` function using the @ symbol. This means that my_function is now decorated with the `my_decorator` function. When `my_function` is called, it is actually the wrapper function that is executed, which in turn calls the original `my_function` and adds the extra functionality defined in the decorator.

In [37]:
def my_decorator(func):
    def wrapper(*args, **kwargs):
        print("Before the function is called.")
        func(*args, **kwargs)
        print("After the function is called.")
    return wrapper

@my_decorator
def my_function():
    print("Inside the function.")

my_function()

Before the function is called.
Inside the function.
After the function is called.

# **Python Logging Module**
Logging is an important aspect of software development as it helps developers to understand what is happening within the application, especially when an issue or error occurs. Python provides a built-in logging module that makes it easy to log messages from your application.

In [1]:
import logging

# This will save the logs in the example.log file
logging.basicConfig(filename='example.log',
                     level=logging.INFO,
                     format='%(asctime)s - %(levelname)s - %(message)s'
                     )
logging.info('This is a log info message.')

# **Some Python Decorators to Take Your Code to the Next Level**

# **@logger‚úèÔ∏è**

To write this decroator, you first have to pick an appropriate name: let‚Äôs call it logger.

logger is a function that takes a function as input and returns a function as output. The output function is usually an extended version of the input. In our case, we want the output function to surround the call of the input function with start and end statements.

Since we don‚Äôt know what arguments the input function use, we can pass them from the wrapper function using *args and **kwargs. These expressions allow passing an arbitrary number of positional and keyword arguments.

Here‚Äôs a simple implementation of the logger decorator:

In [1]:
def logger(function):
    def wrapper(*args, **kwargs):
        print(f"----- {function.__name__}: start -----")
        output = function(*args, **kwargs)
        print(f"----- {function.__name__}: end -----")
        return output
    return wrapper

In [2]:
@logger
def some_function(text):
    print(text)

some_function("first test")
# ----- some_function: start -----
# first test
# ----- some_function: end -----

----- some_function: start -----
first test
----- some_function: end -----

# **@repeat üîÅ**
This decorator causes a function to be called multiple times in a row.
This can be useful for debugging purposes, stress tests, or automating the repetition of multiple tasks.
Unlike the previous decorators, this one expects an input parameter.

In [5]:
from functools import wraps
def repeat(number_of_times):
    def decorate(func):
        @wraps(func)
        def wrapper(*args, **kwargs):
            for _ in range(number_of_times):
                func(*args, **kwargs)
        return wrapper
    return decorate

The following example defines a decorator called `repeat` that takes a number of times as an argument. The decorator then defines a function called `wrapper` that is wrapped around the function being decorated. The `wrapper` function calls the decorated function a number of times equal to the specified number.

In [7]:
@repeat(3)
def dummy():
    print("hello")

dummy()

hello
hello
hello

# **@timeit ‚è≤Ô∏è**
This decorator measures the execution time of a function and prints the result: this serves as debugging or monitoring.

In the following snippet, the `timeit` decorator measures the time it takes for the **process_data** function to execute and prints out the elapsed time in seconds.

In [8]:
import time
from functools import wraps

def timeit(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        start = time.perf_counter()
        result = func(*args, **kwargs)
        end = time.perf_counter()
        print(f'{func.__name__} took {end - start:.6f} seconds to complete')
        return result
    return wrapper

@timeit
def process_data():
    time.sleep(1)

process_data()

process_data took 1.005037 seconds to complete

# **@retry üîÅ**
This decorator forces a function to retry a number of times when it encounters an exception.

It takes three arguments: the number of retries, the exception to catch and retry on, and the sleep time between retries.

It works like this:\
‚ñ∫The wrapper function starts a for-loop of num_retries iterations.

‚ñ∫At each iteration, it calls the input function in a try/except block. When the call is successful, it breaks the loop and returns the result. Otherwise, it sleeps for sleep_time seconds and proceeds to the next iteration.

‚ñ∫When the function call is not successful after the for loop ends, the wrapper function raises the exception.

In [17]:
import random
import time
from functools import wraps

def retry(num_retries, exception_to_check, sleep_time=0):
    """
    Decorator that retries the execution of a function if it raises a specific exception.
    """
    def decorate(func):
        @wraps(func)
        def wrapper(*args, **kwargs):
            for i in range(1, num_retries+1):
                try:
                    return func(*args, **kwargs)
                except exception_to_check as e:
                    print(f"{func.__name__} raised {e.__class__.__name__}. Retrying...")
                    if i < num_retries:
                        time.sleep(sleep_time)
            # Raise the exception if the function was not successful after the specified number of retries
            raise e
        return wrapper
    return decorate

@retry(num_retries=30, exception_to_check=ValueError, sleep_time=1)
def random_value():
    value = random.randint(1, 5)
    if value == 3:
        raise ValueError("Value cannot be 3")
    return value

random_value()
# random_value raised ValueError. Retrying...
# 1

random_value raised ValueError. Retrying...
random_value raised ValueError. Retrying...

1

# **@countcall üî¢**
This decorator counts the number of times a function has been called.

This number is stored in the wrapper attribute `count` .

In [22]:
from functools import wraps

def countcall(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        wrapper.count += 1
        result = func(*args, **kwargs)
        print(f'{func.__name__} has been called {wrapper.count} times')
        return result
    wrapper.count = 0
    return wrapper

@countcall
def process_data():
    pass

process_data()
process_data()
process_data()

process_data has been called 1 times
process_data has been called 2 times
process_data has been called 3 times